version: "3.8"

services:
  app:
    build: .
    ports:
      - "5173:5173"
    env_file:
      - .env.local
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true # Helps with file watching in some Docker environments
